.bm_link {
    display: flex;
    color: #0D72B9;
}

.bm_link img {
    margin-right: 10px;
    width: 162px;
    flex-shrink: 0;
    height: 50px;
    border: 1px solid #DBDBDB!important;
    border-radius: 5px!important;
    background-color: white!important;
    padding: 0;
    margin-bottom: 5px;
}

.bm_link span {
    align-self: center;
}