

.bm_list {
    padding-left: 0!important;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #3F3F3F;
}

.bm_list li {
    margin-bottom: 9px;
}

.bm_list .list-subItem:first-child{
    margin-top: 5px;
}

.bm_list .list-subItem{
    margin-left: 25px;
    color: #757575;
    font-style: italic;
    margin-top: 5px;
}

.bm_list li div:last-child {
    padding-bottom: 5px;
}

.bm_list {
    list-style: none;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #25DDDD;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.dot.blue {
    background-color: #25a9e0;
}

.dot.red {
    background-color: #EF5227;
}

.dot.green {
    background-color: #3BB44A;
}

.dot.yellow {
    background-color: #FAAA39;
}
