.be_plane {
    position: fixed;
    rotation: 45rad;

    bottom: 500px;
    right: 480px;

    width: 97px;
    height: 48px;

    background: url("/images/theme/day/plane.png") no-repeat center;
    animation: motion-plane 17s infinite;
}

.be_theme-image-left-right {
    position: fixed;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 164px;

    background: url("/images/theme/day/image-right-left.png") repeat-x;
    overflow-x: visible;
    display: block;
    padding: 0;
}

.be_theme-image-center {
    position: fixed;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 353px;

    background: url("/images/theme/day/image-center.png") no-repeat center;
    overflow-x: visible;
    display: block;
    padding: 0;
}

.be_theme-sun {
    position: fixed;

    bottom: 380px;
    left: 40%;

    width: 55px;
    height: 56px;

    display: block;
    padding: 0;

    background: url("/images/theme/day/sun.png") no-repeat center;
    animation:sun-spin 20s linear infinite;
}

.be_theme-balloon {
    position: fixed;

    bottom: 290px;
    left: 58%;

    width: 48px;
    height: 82px;

    background: url("/images/theme/day/balloon.png") no-repeat center;
    animation: motion-balloon 10s infinite ease-in-out;
}

.be_theme-cloud-big {
    position: fixed;

    bottom: 402px;
    left: 56%;

    width: 162px;
    height: 166px;

    background: url("/images/theme/day/cloud-big.png") no-repeat center;
    animation: motion-cloud-big 19s infinite;
}

.be_theme-cloud-big-2 {
    position: fixed;

    bottom: 452px;
    left: 43%;

    width: 162px;
    height: 166px;

    background: url("/images/theme/day/cloud-big.png") no-repeat center;
    animation: motion-cloud-big-2 12s infinite;
}

.be_theme-cloud-medium {
    position: fixed;

    bottom: 224px;
    left: 27%;

    width: 162px;
    height: 166px;

    background: url("/images/theme/day/cloud-medium.png") no-repeat center;
    animation: motion-cloud-medium 23s infinite;
}

.be_theme-cloud-small {
    position: fixed;

    bottom: 248px;
    left: 66%;

    width: 162px;
    height: 166px;

    background: url("/images/theme/day/cloud-small.png") no-repeat center;
    animation: motion-cloud-small 17s infinite;
}

.be_univers {
    position: fixed;

    width: 460px;
    height: 492px;

    top: 0;
    right: 0;

    background: url("/images/theme/day/univers.png") repeat-x;
}

.be_star-small {
    position: fixed;

    top: 100px;
    right: 100px;

    width: 8px;
    height: 8px;

    background: url("/images/theme/day/star-small.png") no-repeat center;
    animation: motion-star-small 11s infinite ease-out;
}

.be_star-small-top-corner {
    position: fixed;

    top: 20px;
    right: 200px;

    width: 8px;
    height: 8px;

    background: url("/images/theme/day/star-small.png") no-repeat center;
    animation: motion-star-small 15s infinite ease-in-out;
}

.be_star-small-bottom-corner {
    position: fixed;

    top: 165px;
    right: 28px;

    width: 8px;
    height: 8px;

    background: url("/images/theme/day/star-small.png") no-repeat center;
    animation: motion-star-small 8s infinite ease-in;
}

.be_star-big {
    position: fixed;

    top: 50px;
    right: 105px;

    width: 8px;
    height: 8px;

    background: url("/images/theme/day/star-big.png") no-repeat center;
    animation: motion-star-small 20s infinite ease;
}